.root {
    --number-font-size: 44px;
    display: flex;
    gap: 22px;
}

.root.mini {
    --number-font-size: 32px;
}


.col {
    display: flex;
    flex-direction: column;

    font-size: 44px;
    font-weight: bold;
    align-items: center;
}

.number {
    font-weight: bold;
    font-size: var(--number-font-size);
}

.title {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: 16px;
    min-width: 70px;
    text-align: center;
}

@media (max-width:1300px) {
    .root.mini {
        gap: 5px;

        .number {
            font-size: 28px;
        }
    }
}


@media (max-width:950px) {
    .root.mini {
        gap: 22px;
    }
}

@media (max-width:650px) {
    .root.mini {

        .number {
            font-size: 28px;
        }

        .col {
            font-size: 32px;
        }

        .title {
            font-size: 14px;
            min-width: 55px;
        }
    }
}

@media (max-width:350px) {
    .root.mini {
        width: 100%;
        justify-content: space-evenly;
        gap: unset;
    }
}