.root {
    --col-count: 6;

    padding: 0 10px;
    width: calc(100% / var(--col-count));
    transition: 0.3s width;
}

.item {
    height: 560px;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-end;
    gap: 10px;
    border-radius: 16px;

    .title {
        width: 100%;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1;
        min-height: 56px;
    }

    .description {
        width: 100%;
        font-size: 14px;
        line-height: 1;
        min-height: 28px;
    }
}

.text {
    display: flex;
    overflow: hidden;
    position: relative;

    .leftCol {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        width: 100%;
    }

    .rightCol {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: auto;

        width: 0;
        height: 0;
    }
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 8px 20px;
    border: 1px solid var(--color-white);
    border-radius: 32px;
}

.active {
    width: calc(100% / 2.5);

    .text {
        .rightCol {
            width: auto;
            height: auto;
        }
    }
}

.notActive {
    width: calc((100% - (100% / 2.5)) / (var(--col-count) - 1));

    .text {
        display: none;

        .rightCol {
            // opacity: 0;
        }
    }

    .btn {
        display: none;
    }
}

@media (max-width: 1400px) {
    .root {
        --col-count: 5;
    }
}

@media (max-width: 1200px) {
    .root {
        --col-count: 4;
    }
}

@media (max-width: 1000px) {
    .root {
        --col-count: 3;
    }
}

@media (max-width: 700px) {
    .root {
        --col-count: 2;
    }
}

@media (max-width: 550px) {
    .root {
        --col-count: 1;
    }
}