# API_URL = http://0.0.0.0:8011
# NEXT_PUBLIC_API_URL = $API_URL
# BACKEND_STATIC_URL = http://0.0.0.0:8011/static
# BASE_URL = https://www.example.ru
# YANDEX_VERIFICATION = XXXXXXXXXXXXX
# YM_COUNTER = XXXXXXXX

# Видимость поисковиков
ROBOT_TXT_ALLOW = 'Allow: /' # Прод
ROBOT_TXT_ALLOW = 'Disallow: /' # Разработка

# Часовой пояс
TIMEZONE = 'Asia/Shanghai'
NEXT_PUBLIC_TIMEZONE = $TIMEZONE
