*.pyc
*~
__pycache__
media
docker-compose.yml
.DS_Store
local.py
.env
venv
/logs
json_files
/backup
/media
.venv
django.mo
node_modules

backend/static/admin
backend/static/django_ckeditor_5
backend/static/ninja

.idea