*.pyc
*~
__pycache__
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid
media
docker-compose.yml
.DS_Store
db.sqlite3
start.py
local.py
.env
venv
/logs
json_files
/backup
/media
export_fs.csv
export_mfp.csv
.venv
django.mo
node_modules
docker-compose-old.yml
build
bundle.css
bundle.js
bundle.js.map

backend/static/admin
backend/static/ckeditor
backend/static/drf-yasg
backend/static/modeltranslation
backend/static/mptt
backend/static/rest_framework
backend/csv_files

.idea