.root {
    --col-count: 5;

    height: 100%;
    padding: 0 10px;
    overflow: hidden;
    user-select: none;
    
    width: calc(100% / var(--col-count));
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: var(--color-black);
    }
}

@media not all and (hover: none) {
    // Только НЕ для тач устройств

    .root {
        &:before {
            content: '';
            position: absolute;
            width: calc(100% - 20px);
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        }

        &:hover {
            &:before {
                opacity: 0;
            }
        }
    }
}

@media (max-width: 1350px) {
    .root {
        --col-count: 4;
    }
}

@media (max-width: 1100px) {
    .root {
        --col-count: 3;
    }
}

@media (max-width: 950px) {
    .root {
        --col-count: 2;
    }
}

@media (max-width: 700px) {
    .root {
        --col-count: 3;
    }
}

@media (max-width: 600px) {
    .root {
        --col-count: 2;
    }
}

@media (max-width: 330px) {
    .root {
        --col-count: 1;
    }
}