.arrowLeft {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    z-index: 2;

    left: -22px;
}

.arrow {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--arrow-bgc-default);
    border-radius: 100%;
    cursor: pointer;

    &:hover {
        background-color: var(--arrow-bgc-hover);
    }

}