:root {
    --running-line-height: 35px;

    --logo-height: 62px;

    --container-width: 1600px;

    --gap-between-sections: 120px;

    --color-white: #FFFFFF;
    --color-white-with-alpha-50: rgba(255, 255, 255, 0.5);

    --color-black: #1D1D1D;

    --color-red: #DE4E4C;
    --color-red-with-alpha: rgba(222, 78, 76, 0.2);

    // --color-background: #565656;
    --color-background: #111111;

    --container-margin-lr: calc(80px / 2);

    @media (max-width: 500px) {
        --container-margin-lr: calc(50px / 2);
    }

    --font-size-h2-main: 32px;
    --color-h2-main: var(--color-red);
}