:root {
    // Высота бегущей строки
    --running-line-height: 35px;

    // Высота/ширина лого в хедере
    --logo-height: 62px;
    // Верхний и нижний паддинги хедера
    --header-padding-tb: 25px;

    @media (max-width: 700px) {
        --logo-height: 50px;
        --header-padding-tb: 15px;
    }

    // Высота хедера
    --header-height: calc(var(--logo-height) + var(--header-padding-tb) * 2);

    // Ширина основного контейнера с контентом
    --container-width: 1600px;

    // Отступ между секциями на главной странице
    --gap-between-sections: 120px;

    --color-white: #FFFFFF;
    --color-white-with-alpha-50: rgba(255, 255, 255, 0.5);

    --color-black: #1D1D1D;

    --color-red: #DE4E4C;
    --color-red-with-alpha: rgba(222, 78, 76, 0.2);

    // --color-background: #565656;
    --color-background: #111111;

    --arrow-bgc-default: rgba(30, 30, 30, 0.6);
    --arrow-bgc-hover: rgba(30, 30, 30, 0.8);

    --container-margin-lr: calc(80px / 2);

    @media (max-width: 500px) {
        --container-margin-lr: calc(50px / 2);
    }

    --font-size-h2-main: 32px;

    @media (max-width: 700px) {
        --font-size-h2-main: 28px;
    }

    @media (max-width: 500px) {
        --font-size-h2-main: 16px;
    }

    --margin-bottom-h2-main: 30px;

    @media (max-width: 500px) {
        --margin-bottom-h2-main: 15px;
    }


    --color-h2-main: var(--color-red);
}