:root {
    --color-white: #FFFFFF;
    --color-white-with-alpha-50: rgba(255, 255, 255, 0.5);

    --color-black: #1D1D1D;

    --color-red: #DE4E4C;
    --color-red-with-alpha: rgba(222, 78, 76, 0.2);

    --color-background: #565656;

    --container-margin-lr: calc(80px / 2);

    --font-size-h2-main: 32px;
    --color-h2-main: var(--color-red);
}