.root {
    display: flex;
    flex-direction: column;

    h2 {
        text-transform: uppercase;
        color: var(--color-red);
        font-size: var(--font-size-h2-main);
        margin-bottom: 53px;
    }
}

.content {
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    font-family: var(--font-montserrat);
    font-weight: 500;
    font-size: 16px;
    padding-right: 100px;
    justify-content: center;
    max-width: 383px;

    a {
        text-decoration: underline;
    }
}

@media (max-width: 1200px) {
    .text {
        padding-bottom: 40px;
    }

    .content {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .text {
        padding-right: 40px;
    }
}

@media (max-width: 400px) {
    .text {
        padding-right: 0;
    }
}