.root {
    width: 100%;
}

.months {
    text-transform: uppercase;
    gap: 28px;
    color: var(--color-white);
    font-size: var(--font-size-subtitle-schedule);
    font-weight: bold;
    padding-bottom: 11px;
    border-bottom: 1px solid var(--color-red-with-alpha);

    span {
        padding: 10px 12px;
        cursor: pointer;

        &:hover {
            color: var(--color-red);
        }
    }

    .select {
        color: var(--color-red);
        border-bottom: 2px solid var(--color-red);
        cursor: auto;
    }

}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}