.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1360px;
    width: calc(100% - var(--container-margin-lr));
    height: 75px;
    position: sticky;
    bottom: 20px;
    background-color: var(--color-red);
    margin: 0 auto;
    top: calc(100% - 75px - 20px);
    z-index: 10;
    border-radius: 63px;
    padding: 0 60px;
}

.title {
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
}

.btnAction {
    height: 50px;
    width: 100%;
    max-width: 250px;
    background-color: var(--color-white);
    border-radius: 100px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        text-transform: uppercase;
        font-size: 16px;
        font-family: var(--font-sans-caption);
        color: var(--color-red)
    }
}

.btnClose {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 32px;
    width: 32px;
    cursor: pointer;

    .lineTop,
    .lineBot {
        width: 34px;
        height: 3px;
        background-color: var(--color-white);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .2s ease all;
        transition: .2s ease all;
        user-select: none;
    }

    .lineTop {
        -webkit-transform: rotate(45deg);
        transform: translateY(15px) rotate(45deg);
    }

    .lineBot {
        -webkit-transform: rotate(45deg);
        transform: translateY(-14px) rotate(-45deg);
    }
}