.root {

    position: relative;
}

.wrap {
    overflow: hidden;
    margin: 0 -10px;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 315px;
}