.root {
    position: relative;
}

.wrap {
    overflow: hidden;
}

.list {
    display: flex;
    justify-content: space-between;
    width: calc(100% + 20px);
    margin-left: -10px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 560px;
}

@media (max-width: 700px) {
    .list {
        height: 435px;
    }
}