.root {
    padding-top: var(--gap-between-sections);

    h2 {
        font-size: var(--font-size-h2-main);
        color: var(--color-red);
        text-transform: uppercase;
        margin-bottom: var(--margin-bottom-h2-main);
    }
}

.notFoundText {
    font-size: 16px;
    font-family: var(--font-montserrat);
}

.social {}