.root {
    --picture-height: 460px;
    --picture-width: 460px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 50%;
    border-bottom: 1px solid var(--color-white-with-alpha-50);
    padding-top: var(--container-margin-lr);
}

.title {
    width: 100%;
    padding-left: var(--container-margin-lr);
    padding-top: var(--header-height);

    h2 {
        font-size: var(--font-size-h2-main);
        color: var(--color-h2-main);
        line-height: 1;
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 80px;
}

.pictureList {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: var(--picture-height);
    overflow: hidden;
}

.picture {
    position: absolute;
    overflow: hidden;

    width: 100%;
    height: 100%;
    max-width: var(--picture-width);
    max-height: var(--picture-height);

    transition: top 0.6s;
    top: 100%;

    .pictureImg {
        object-fit: cover;
    }

    &.active {
        top: 0;
    }
}


.mobileSubtitle {
    position: relative;
    width: 100%;
    min-height: 30px;
    overflow: hidden;
    margin-top: 15px;

    span {
        position: absolute;
        text-transform: uppercase;
        font-size: var(--font-size-h2-main);
        font-weight: bold;
        line-height: 1;
        opacity: 0;
        top: 100px;
        transition: 0.3s top;
        transition: 0.5s opacity;

        &.active {
            opacity: 1;
            top: 0;
        }
    }
}

.mobileTextContainer {
    width: 100%;
    position: relative;
    margin-top: 10px;
    min-height: 30%;
}

.mobileData {
    position: absolute;
    z-index: 0;
    opacity: 0;
    top: 100px;
    transition: 0.3s top, 0.5s opacity;

    &.active {
        opacity: 1;
        top: 0;
        z-index: 1;
    }

    .mobileText {
        height: 100%;
        display: flex;
        flex-direction: column;
        font-family: var(--font-montserrat);
        font-weight: 400;
        font-size: 14px;
    }

    .mobileBtn {
        width: 100%;
        position: relative;
        margin-top: 20px;

        a {
            position: absolute;
            align-items: center;
            font-size: 14px;
            padding: 8px 20px;
            border: 1px solid var(--color-white);
            width: min-content;

            span {
                white-space: nowrap;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 1000px) {
    .content {
        padding: 20px var(--container-margin-lr);
    }
}

@media (min-width: 701px) {

    .mobileSubtitle,
    .mobileTextContainer {
        display: none;
    }
}

@media (max-width: 700px) {
    .root {
        --picture-height: 150px;
        --picture-width: 100%;

        height: calc(100vh - var(--header-height) + var(--container-margin-lr));
        top: calc(var(--header-height) - var(--container-margin-lr));
        width: 100%;
    }

    .content {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .title {
        padding-top: 0;
    }
}

