.root {
    width: 100%;
    height: 100vh;
    max-height: calc(700px + var(--gap-between-sections));
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: var(--gap-between-sections);

    h2 {
        margin-bottom: 28px;
        font-size: var(--font-size-h2-main);
        color: var(--color-h2-main);
    }
}