.root {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        text-transform: uppercase;
    }
}

.container {
    position: relative;
}

.arrowLeft,
.arrowRight {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
}

.arrowLeft {
    left: -22px;
}

.arrowRight {
    right: -22px;

    svg {
        transform: rotate(180deg);
    }
}

.arrow {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 100%;
}