.root {
    width: 100%;
    height: calc(100vh + var(--gap-between-sections));
    max-height: calc(700px + var(--gap-between-sections));
    min-height: 700px;
    display: flex;
    flex-direction: column;
    padding-top: var(--gap-between-sections);

    h2 {
        margin-bottom: 28px;
        font-size: var(--font-size-h2-main);
        color: var(--color-h2-main);
    }
}

@media (max-width: 700px) {
    .root {
        min-height: 490px;
        max-height: calc(490px + var(--gap-between-sections));
    }
}