.root {
    padding-top: var(--gap-between-sections);

    h2 {
        text-transform: uppercase;
        color: var(--color-red);
        margin-bottom: 30px;
        font-size: var(--font-size-h2-main);
    }
}