.root {
    --cover-height: 400px;
    --cover-width: calc(var(--cover-height) / 4 * 3);
}

.background {
    margin-top: -10px;
    padding-top: 10px;
    margin: -10px;
    padding: 10px;
    position: relative;
    display: flex;
}

.coverCol {
    height: var(--cover-height);
    width: var(--cover-width);
    position: relative;

    .cover {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        // filter: grayscale(60%);
    }

    .coverDefault {
        height: 100%;
        width: 100%;
        background-color: var(--color-black);
    }
}

.archive {
    position: absolute;
    background-color: var(--color-red);
    padding: 10px;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: bold;
    font-size: 20px;
}

.infoCol {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--cover-width));
    padding: 5px 0 0 30px;
}

.name {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.description {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 5px;
    text-transform: uppercase;
}

.people {
    margin-bottom: 10px;
}

.description,
.people {
    font-family: var(--font-montserrat);
    font-weight: 400;
}

.btnRow {
    display: flex;
    margin-top: auto;
    width: 100%;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        border: 1px solid var(--color-white);
        width: 200px;
        font-family: var(--font-sans-caption);
        text-transform: uppercase;
        height: 40px;
        font-size: 16px;
    }
}


@media not all and (hover: none) {
    // Только НЕ для тач устройств

    .coverCol {
        .cover {
            filter: grayscale(60%);
        }
    }

    .root {
        &:hover {

            color: var(--color-black);

            .background {
                background-color: var(--color-white);
            }

            .coverCol {
                .cover {
                    filter: grayscale(0%);
                }
            }

            .btnRow {
                a {
                    border: 1px solid var(--color-black);

                    &:hover {
                        border: none;
                        background-color: var(--color-red);
                        color: var(--color-white);
                    }
                }
            }
        }
    }

    .name {
        a {
            &:hover {
                color: var(--color-red);
            }
        }
    }

}

@media (max-width:1300px) {
    .root {
        --cover-height: 300px;
    }

    .infoCol {
        padding: 5px 0 0 20px;
    }

    .btnRow {
        align-items: flex-start;

        a {
            margin-left: 0;
        }
    }

    .description {
        font-size: 14px;
    }
}

@media (max-width:1000px) {
    .infoCol {
        padding: 5px 0 0 30px;
    }

    .description {
        word-break: break-all;
    }

    .btnRow {
        flex-direction: row;
        align-items: center;

        a {
            margin-left: auto;
        }
    }
}

@media (max-width:650px) {
    .root {
        --cover-height: 230px;
    }

    .infoCol {
        padding: 5px 0 0 15px;
    }

    .name {
        font-size: 25px;
    }

    .people {
        font-size: 14px;
    }

    .archive {
        font-size: 16px;
        padding: 7px;
    }

    .btnRow {
        flex-direction: column;
        align-items: flex-start;



        a {
            height: 35px;
            font-size: 14px;
            width: 100%;
            margin-left: 0;
        }
    }
}

@media (max-width:450px) {
    .root {
        --cover-height: 200px;
    }

    .infoCol {
        padding: 0 0 0 15px;
    }

    .name {
        font-size: 20px;
    }

    .description {
        margin-bottom: 7px;
        font-size: 12px;
    }

    .people {
        // margin-bottom: 7px;
        display: none;
    }
}