.root {
    width: 100%;
    margin-top: calc(-1 * var(--header-height));
}

.textFont {
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: var(--font-size-text-base);
}

.grid {
    width: calc(100% + var(--container-margin-lr) * 2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: calc(-1* var(--container-margin-lr));
    overflow: hidden;
}

.cover {
    grid-column: 2 span;
    height: 100vh;
    position: relative;
    max-height: 800px;
    border-bottom: 1px solid var(--color-white-with-alpha-50);

    img {
        height: 100%;
        object-fit: cover;
    }
}

.defaultCover {
    grid-column: 2 span;
    height: var(--header-height);
    width: 100%;
}

.gridItem {
    padding: 65px var(--container-margin-lr);
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: var(--color-white-with-alpha-50);
        z-index: 1;
    }

    &::after {
        // Горизонтальные бордеры
        inline-size: 100%;
        block-size: 1px;
        inset-inline-start: 0;
        inset-block-start: calc(100% - 1px);
    }

    &::before {
        // Вертикальные бордеры
        inline-size: 1px;
        block-size: 100%;
        inset-block-start: 0px;
        inset-inline-start: -1px;
    }

    h2 {
        text-transform: uppercase;
        color: var(--color-red);
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.title {
    color: var(--color-red);
    text-transform: uppercase;
    font-weight: bold;

    h1 {
        font-size: 60px;
    }

    .row {
        display: flex;
        gap: 25px;
        font-size: 20px;

        .duration {
            margin-right: 5px;
        }
    }
}

.peoples {
    display: flex;
    flex-direction: column;

    .row {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 30px;
        margin-bottom: 10px;

        span:nth-child(2) {
            justify-self: flex-end;
            margin-left: auto;
            text-align: end;
        }
    }

    .premiere {
        margin-top: 10px;
    }
}

.gridImg {
    min-height: 420px;

    img {
        object-fit: cover;
        min-height: 100%;
    }
}

.description {
    display: flex;
    flex-direction: column;
}

.ageLimit {
    margin-top: 20px;
    color: var(--color-red);
    font-weight: bold;
    font-size: 20px;
    font-family: var(--font-sans-narrow);
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .defaultCover {
        grid-column: 1;
    }

    .gridImg {
        display: none;
    }

    .cover {
        grid-column: 1;
    }
}

@media (max-width: 600px) {
    .gridItem {
        padding: 20px var(--container-margin-lr);
    }

    .title {
        h1 {
            font-size: 32px;
        }

        .row {
            font-size: 16px;
        }
    }

    .ageLimit {
        font-size: 16px;
    }

    .gridImg {
        min-height: 250px;
    }

    .peoples {
        .row {
            gap: 20px;
        }
    }
}