.root {
    width: calc(100% + var(--container-margin-lr) * 2);
    margin-left: calc(-1 * var(--container-margin-lr));
    display: flex;
    flex-direction: column;

}

.container {
    width: 100%;
    display: flex;
    border-top: 1px solid var(--color-white-with-alpha-50);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 50%;
    border-bottom: 1px solid var(--color-white-with-alpha-50);
}

.title {
    width: 100%;

    h2 {
        font-size: var(--font-size-h2-main);
        color: var(--color-h2-main);
        margin-left: var(--container-margin-lr);
        margin-top: 40px;
    }
}

.coverContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;


    .cover {
        width: 100%;
        height: 100%;
        max-width: 464px;
        max-height: 446px;
        background-color: white;
    }
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--color-white-with-alpha-50);
}