.root {
    width: calc(100% + var(--container-margin-lr) * 2);
    margin-left: calc(-1 * var(--container-margin-lr));
    display: flex;
    flex-direction: column;
    padding-top: var(--gap-between-sections);
}

@media (max-width: 820px) {
    .root {
        display: none;
    }
}