.root {
    width: 100%;
    display: flex;
    border-top: 1px solid var(--color-white-with-alpha-50);
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--color-white-with-alpha-50);
    position: relative;
}

.rightSticky {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 2;
    // background-color: var(--color-background);
}

.rightTriggers {
    position: relative;
    z-index: 1;
    margin-top: -100vh;
}


@media (max-width: 700px) {
    .root {
        flex-direction: column;
    }

    .right {
        width: 100%;
        margin-top: -100vh;
        border-left: unset;
    }

    .rightSticky {
        display: none;
    }

    .rightTriggers {
        margin-top: 0;
    }

}