.root {
    --padding-top: 25px;
    --header-height: calc(var(--logo-height) + var(--padding-top) * 2);

    max-width: var(--container-width);

    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 10;

    overflow: hidden;

    height: var(--header-height);
}