.root {
    position: relative;
    width: 100%;
}

.wrap {
    overflow: hidden;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    
    // 20px - для второй строки названия
    height: calc(140px + 20px);
}