.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 255px;
    font-family: var(--font-montserrat);
    font-weight: 400;
    font-size: var(--font-size-text-base);
    color: var(--color-white);
    padding: 0 20px;
}

.social {
    display: flex;
    margin-top: 25px;
    gap: 20px;

    .link {
        color: var(--color-red);
        width: 32px;
        background-color: var(--color-white);
        height: 32px;
        border-radius: 100%;
    }
}

@media not all and (hover: none) {
    // Только НЕ для тач устройств

    .social {
        .link {
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 800px) {
    .root {
        padding-left: 0;
        padding-right: 40px;
    }
}


@media (max-width: 700px) {
    .root {
        width: 100%;
        max-width: 305px;
        // padding-bottom: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 500px) {
    .root {
        width: 100%;
        max-width: 100%;
    }
}


@media (max-width: 400px) {
    .root {
        padding-right: 0;
    }
}