.root {
    max-width: var(--container-width);

    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 10;

    overflow: hidden;

    height: var(--header-height);
    // pointer-events: none;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    height: 100%;
    padding: 0 var(--container-margin-lr);
    align-items: center;
    // pointer-events: all;

    a {
        font-size: 20px;
        user-select: none;
    }

    transition: 0.5s margin-top;
    background-color: var(--color-background);
    margin-top: 0;
}

.logo {
    display: flex;
    justify-content: center;

    a {
        position: absolute;
        top: var(--header-padding-tb);
    }

    svg {
        width: var(--logo-height);
        height: var(--logo-height);

        transition: 0.5s opacity;
    }
}

.leftCol,
.rightCol {
    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.root.mobileShow {
    height: 100vh;
    z-index: 10;

    .menu {
        margin-top: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto 0px auto;
        padding-top: var(--header-height);
        padding-bottom: calc(var(--header-height) * 2);

        .leftCol,
        .rightCol {
            flex-direction: column;
            height: 100%;

            a {
                display: unset;
            }
        }
    }
}

@media (max-width: 900px) {
    .menu {
        grid-template-columns: 1fr 120px 1fr;
    }
}

@media (min-width: 701px) {
    .hide {
        overflow: hidden;
        margin-top: calc(-1 * var(--header-height));

        .logo {
            svg {
                opacity: 0.5;
            }
        }
    }
}

@media (max-width: 700px) {

    .logo {
        a {
            left: var(--container-margin-lr);
        }
    }

    .leftCol,
    .rightCol {
        a {
            display: none;
            font-size: 30px;
        }
    }
}