.menu {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;

    // height: calc(var(--logo-height) + var(--padding-top) * 2);
    height: 100%;
    padding: 0 var(--container-margin-lr);
    align-items: center;

    a {
        font-size: 20px;
    }

    transition: 0.5s margin-top;
    background-color: var(--color-background);
    margin-top: 0;
}

.logo {
    display: flex;
    justify-content: center;

    a {
        position: absolute;
        top: var(--padding-top);
    }

    svg {
        width: var(--logo-height);
        height: var(--logo-height);

        transition: 0.5s opacity;
    }
}

.leftCol,
.rightCol {
    display: flex;
    // justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.hide {
    overflow: hidden;
    margin-top: calc(-1 * var(--header-height));

    .logo {
        svg {
            opacity: 0.5;
        }
    }
}

@media (max-width: 900px) {
    .menu {
        grid-template-columns: 1fr 120px 1fr;
    }
}


@media (max-width: 700px) {

    .leftCol,
    .rightCol {
        a {
            display: none;
        }
    }

}