.root {
    cursor: pointer;
}

.container {
    display: flex;
    padding: 12px 10px;
}

.left {
    display: flex;
    width: 100%;
}

.dateCol {
    display: flex;
    align-items: center;

    .date {
        font-weight: bold;
        font-size: var(--font-size-subtitle-schedule);
    }

    .time {
        display: flex;
        align-items: center;
        margin-left: 15px;
        font-size: 18px;
    }

    .premiere {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 105px;
        text-transform: uppercase;
        color: var(--color-red);
        font-weight: bold;
        font-size: 18px;
    }
}

.titleCol {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    .name {
        font-weight: bold;
        font-size: var(--font-size-subtitle-schedule);

        &:hover {
            text-decoration: underline;
        }
    }

    .description {
        font-size: 18px;
        margin-left: 20px;
    }
}

.right {
    display: flex;
    width: 365px;
    justify-content: space-between;
    align-items: center;

    .age {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        width: 40px;
        height: 40px;
    }
}

.btnCol {
    .btnBuy {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 200px;
        text-transform: uppercase;
        font-size: 16px;
        border: 1px solid var(--color-white);
    }
}

@media not all and (hover: none) {

    // Только НЕ для тач устройств
    .active {
        z-index: 2;

        .container {
            background-color: var(--color-white);
            color: var(--color-black);

            .btnBuy {
                border: 1px solid var(--color-black);

                &:hover {
                    background-color: var(--color-red);
                    color: var(--color-white);
                    border: 1px solid var(--color-red);
                }
            }
        }
    }
}

@media (hover: none) {

    // Только для тач устройств
    .titleCol {
        .name {
            &:hover {
                text-decoration: none;
            }
        }
    }
}



@media (max-width: 1180px) {
    .dateCol {
        flex-direction: column;
        align-items: flex-start;

        .time {
            margin: 0;
        }

        .premiere {
            justify-content: start;
        }
    }

    .titleCol {
        flex-direction: column;
        align-items: flex-start;

        .description {
            margin: 0;
        }
    }

    .right {
        width: unset;

        .age {
            margin-right: 20px;
            margin-left: 20px;
        }
    }
}

@media (max-width: 900px) {
    .container {
        padding: 12px 0;
    }

    .left {
        flex-direction: column;

        .dateCol {
            flex-direction: row;
            align-items: center;

            .time {
                margin-left: 20px;
            }
        }

        .titleCol {
            margin: 0;
        }

        .premiere {
            justify-content: center;
        }
    }

    .right {
        align-items: center;

        .btnBuy {
            width: 150px;
        }
    }
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .titleCol {
        .description {
            font-size: 16px;
        }
    }

    .right {
        width: 100%;
        margin-top: 20px;

        .age {
            margin: 0;
        }
    }
}