.root {
    display: flex;
    padding: 12px 10px;
}

.left {
    display: flex;
}

.dateCol {
    display: flex;

    .date {
        font-weight: bold;
        font-size: 24px;
    }

    .time {
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-size: 18px;
    }
}

.titleCol {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 80px;

    .name {
        font-weight: bold;
        font-size: 24px;
    }

    .description {
        font-size: 18px;
        margin-left: 20px;
    }
}

.right {
    display: flex;
    margin-left: auto;
    width: 365px;
    justify-content: space-between;

    .age {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        width: 40px;
        height: 40px;
    }
}

.btnCol {
    .btnBuy {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 200px;
        text-transform: uppercase;
        font-size: 16px;
        border: 1px solid var(--color-white);
    }
}

@media (max-width: 1180px) {
    .dateCol {
        flex-direction: column;

        .time {
            margin: 0;
        }
    }

    .titleCol {
        flex-direction: column;
        align-items: flex-start;

        .description {
            margin: 0;
        }
    }

    .right {
        width: unset;

        .age {
            margin-right: 20px;
            margin-left: 20px;
        }
    }
}

@media (max-width: 900px) {
    .root {
        padding: 12px 0;
    }

    .left {
        flex-direction: column;

        .dateCol {
            flex-direction: row;

            .time {
                margin-left: 20px;
            }
        }

        .titleCol {
            margin: 0;
        }
    }

    .right {
        align-items: center;

        .btnBuy {
            width: 150px;
        }
    }
}

@media (max-width: 650px) {
    .root {
        flex-direction: column;
    }

    .right {
        width: 100%;
        margin-top: 20px;

        .age {
            margin: 0;
        }
    }
}