.root {
    position: fixed;
    background-position: center;
    object-fit: cover;
}

.active {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 300px;
}

@media (hover: none) { 
    .active {
       display: none;
    }
}